<h1>Add a new Tamagotchi!</h1>
<form action = "/" method = "post">
  <label for="new-pet">Name Your New Tamagotchi:</label>
  <input id="new-pet" name= "new-pet" type = "text">
  <button type="submit">Submit</button>
</form>
