<h1>Your tamagotchis have suffered horrible deaths!!</h1>
<img src="https://www.toonpool.com/user/4265/files/death_dog_walk_511925.jpg" alt="cartoon of death dragging a cartoon dead dog away">
<p><a href="/"> Cruelly start over with new tamagotchis, as if the others meant nothing to you.</a></p>
