<h1>Your tamagotchis have suffered horrible deaths!!</h1>
<img src="../img/death.jpg" alt="cartoon of death dragging a cartoon dead dog away">
<p><a href="/"> Cruelly start over with new tamagotchis, as if the others meant nothing to you.</a></p>
